<div class="collapsible">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Item 1</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="/images/sprite.svg#chevron"></use>
      </span>
    </header>
    <div class="collapsible__content"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam, fuga.</p></div>
  </div>
  <div class="collapsible">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Item 2</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="/images/sprite.svg#chevron"></use>
      </span>
    </header>
    <div class="collapsible__content"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quisquam beatae, sint earum nulla animi vel nesciunt quos? Dolor ipsa exercitationem eligendi eaque fugiat suscipit, tempora ipsum quasi debitis eveniet modi officia explicabo porro, maiores et perspiciatis aspernatur dolore corporis voluptatibus autem facere voluptatum consectetur minima in! Eaque, illo veritatis.</p></div>
  </div>
  <div class="collapsible">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Item 3</h2>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="/images/sprite.svg#chevron"></use>
      </span>
    </header>
    <div class="collapsible__content"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, voluptas voluptatem porro totam quibusdam ab autem ullam. Dignissimos, eaque explicabo?</p></div>
  </div>
